aiohttp==3.9.3 ; python_version >= "3.9" and python_version < "3.12"
aiolimiter==1.1.0 ; python_version >= "3.9" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.9" and python_version < "3.12"
anthropic==0.10.0 ; python_version >= "3.9" and python_version < "3.12"
anyio==3.7.1 ; python_version >= "3.9" and python_version < "3.12"
astrapy==0.7.7 ; python_version >= "3.9" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.9" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.9" and python_version < "3.12"
backoff==2.2.1 ; python_version >= "3.9" and python_version < "3.12"
beautifulsoup4==4.12.3 ; python_version >= "3.9" and python_version < "3.12"
cachetools==5.3.3 ; python_version >= "3.9" and python_version < "3.12"
cassandra-driver==3.29.1 ; python_version >= "3.9" and python_version < "3.12"
cassio==0.1.5 ; python_version >= "3.9" and python_version < "3.12"
certifi==2024.2.2 ; python_version >= "3.9" and python_version < "3.12"
chardet==5.2.0 ; python_version >= "3.9" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.9" and python_version < "3.12"
cohere==4.45 ; python_version >= "3.9" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.12" and platform_system == "Windows"
dataclasses-json==0.6.4 ; python_version >= "3.9" and python_version < "3.12"
deepdiff==6.7.1 ; python_version >= "3.9" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.9" and python_version < "3.12"
deprecation==2.1.0 ; python_version >= "3.9" and python_version < "3.12"
dirtyjson==1.0.8 ; python_version >= "3.9" and python_version < "3.12"
distro==1.9.0 ; python_version >= "3.9" and python_version < "3.12"
emoji==2.10.1 ; python_version >= "3.9" and python_version < "3.12"
exceptiongroup==1.2.0 ; python_version >= "3.9" and python_version < "3.11"
fastapi==0.103.2 ; python_version >= "3.9" and python_version < "3.12"
fastavro==1.9.4 ; python_version >= "3.9" and python_version < "3.12"
filelock==3.13.1 ; python_version >= "3.9" and python_version < "3.12"
filetype==1.2.0 ; python_version >= "3.9" and python_version < "3.12"
fireworks-ai==0.13.0 ; python_version >= "3.9" and python_version < "3.12"
frozenlist==1.4.1 ; python_version >= "3.9" and python_version < "3.12"
fsspec==2024.3.1 ; python_version >= "3.9" and python_version < "3.12"
geomet==0.2.1.post1 ; python_version >= "3.9" and python_version < "3.12"
google-ai-generativelanguage==0.4.0 ; python_version >= "3.9" and python_version < "3.12"
google-api-core==2.18.0 ; python_version >= "3.9" and python_version < "3.12"
google-api-core[grpc]==2.18.0 ; python_version >= "3.9" and python_version < "3.12"
google-auth==2.29.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-aiplatform==1.44.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-bigquery==3.19.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-core==2.4.1 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-resource-manager==1.12.3 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-storage==2.16.0 ; python_version >= "3.9" and python_version < "3.12"
google-crc32c==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
google-generativeai==0.3.2 ; python_version >= "3.9" and python_version < "3.12"
google-resumable-media==2.7.0 ; python_version >= "3.9" and python_version < "3.12"
googleapis-common-protos==1.63.0 ; python_version >= "3.9" and python_version < "3.12"
googleapis-common-protos[grpc]==1.63.0 ; python_version >= "3.9" and python_version < "3.12"
greenlet==3.0.3 ; python_version >= "3.9" and python_version < "3.12"
grpc-google-iam-v1==0.13.0 ; python_version >= "3.9" and python_version < "3.12"
grpcio-status==1.62.1 ; python_version < "3.12" and python_version >= "3.9"
grpcio==1.62.1 ; python_version < "3.12" and python_version >= "3.9"
h11==0.14.0 ; python_version >= "3.9" and python_version < "3.12"
h2==4.1.0 ; python_version >= "3.9" and python_version < "3.12"
hpack==4.0.0 ; python_version >= "3.9" and python_version < "3.12"
httpcore==1.0.4 ; python_version >= "3.9" and python_version < "3.12"
httpx-sse==0.4.0 ; python_version >= "3.9" and python_version < "3.12"
httpx==0.27.0 ; python_version >= "3.9" and python_version < "3.12"
httpx[http2]==0.27.0 ; python_version >= "3.9" and python_version < "3.12"
huggingface-hub==0.21.4 ; python_version >= "3.9" and python_version < "3.12"
hyperframe==6.0.1 ; python_version >= "3.9" and python_version < "3.12"
idna==3.6 ; python_version >= "3.9" and python_version < "3.12"
importlib-metadata==6.11.0 ; python_version >= "3.9" and python_version < "3.12"
joblib==1.3.2 ; python_version >= "3.9" and python_version < "3.12"
jsonpatch==1.33 ; python_version >= "3.9" and python_version < "3.12"
jsonpath-python==1.0.6 ; python_version >= "3.9" and python_version < "3.12"
jsonpointer==2.4 ; python_version >= "3.9" and python_version < "3.12"
langchain-astradb==0.1.0 ; python_version >= "3.9" and python_version < "3.12"
langchain-community==0.0.28 ; python_version >= "3.9" and python_version < "3.12"
langchain-core==0.1.31 ; python_version >= "3.9" and python_version < "3.12"
langchain-fireworks==0.1.1 ; python_version >= "3.9" and python_version < "3.12"
langchain-google-genai==0.0.9 ; python_version >= "3.9" and python_version < "3.12"
langchain-google-vertexai==0.1.1 ; python_version >= "3.9" and python_version < "3.12"
langchain-openai==0.0.8 ; python_version >= "3.9" and python_version < "3.12"
langchain-text-splitters==0.0.1 ; python_version >= "3.9" and python_version < "3.12"
langchain==0.1.12 ; python_version >= "3.9" and python_version < "3.12"
langdetect==1.0.9 ; python_version >= "3.9" and python_version < "3.12"
langserve[server]==0.0.39 ; python_version >= "3.9" and python_version < "3.12"
langsmith==0.1.31 ; python_version >= "3.9" and python_version < "3.12"
llama-index==0.9.48 ; python_version >= "3.9" and python_version < "3.12"
llama-index[langchain]==0.9.48 ; python_version >= "3.9" and python_version < "3.12"
llama-parse==0.1.4 ; python_version >= "3.9" and python_version < "3.12"
lxml==4.9.4 ; python_version >= "3.9" and python_version < "3.12"
marshmallow==3.21.1 ; python_version >= "3.9" and python_version < "3.12"
multidict==6.0.5 ; python_version >= "3.9" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.9" and python_version < "3.12"
networkx==3.2.1 ; python_version >= "3.9" and python_version < "3.12"
nltk==3.8.1 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.12"
openai==1.14.2 ; python_version >= "3.9" and python_version < "3.12"
ordered-set==4.1.0 ; python_version >= "3.9" and python_version < "3.12"
orjson==3.9.15 ; python_version >= "3.9" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.9" and python_version < "3.12"
pandas==2.2.1 ; python_version >= "3.9" and python_version < "3.12"
pillow==10.2.0 ; python_version >= "3.9" and python_version < "3.12"
proto-plus==1.23.0 ; python_version >= "3.9" and python_version < "3.12"
protobuf==4.25.3 ; python_version >= "3.9" and python_version < "3.12"
pyasn1-modules==0.3.0 ; python_version >= "3.9" and python_version < "3.12"
pyasn1==0.5.1 ; python_version >= "3.9" and python_version < "3.12"
pydantic==1.10.0 ; python_version >= "3.9" and python_version < "3.12"
pypdf==4.1.0 ; python_version >= "3.9" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.12"
python-iso639==2024.2.7 ; python_version >= "3.9" and python_version < "3.12"
python-magic==0.4.27 ; python_version >= "3.9" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.9" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "3.12"
ragstack-ai==0.10.0 ; python_version >= "3.9" and python_version < "3.12"
rapidfuzz==3.6.2 ; python_version >= "3.9" and python_version < "3.12"
regex==2023.12.25 ; python_version >= "3.9" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.9" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.9" and python_version < "3.12"
shapely==2.0.3 ; python_version >= "3.9" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "3.12"
soupsieve==2.5 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy==2.0.28 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy[asyncio]==2.0.28 ; python_version >= "3.9" and python_version < "3.12"
sse-starlette==1.8.2 ; python_version >= "3.9" and python_version < "3.12"
starlette==0.27.0 ; python_version >= "3.9" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.9" and python_version < "3.12"
tenacity==8.2.3 ; python_version >= "3.9" and python_version < "3.12"
tiktoken==0.5.2 ; python_version >= "3.9" and python_version < "3.12"
tokenizers==0.15.2 ; python_version >= "3.9" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.9" and python_version < "3.12"
tqdm==4.66.2 ; python_version >= "3.9" and python_version < "3.12"
types-protobuf==4.24.0.20240311 ; python_version >= "3.9" and python_version < "3.12"
types-requests==2.31.0.6 ; python_version >= "3.9" and python_version < "3.12"
types-urllib3==1.26.25.14 ; python_version >= "3.9" and python_version < "3.12"
typing-extensions==4.10.0 ; python_version >= "3.9" and python_version < "3.12"
typing-inspect==0.9.0 ; python_version >= "3.9" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.9" and python_version < "3.12"
unstructured-client==0.22.0 ; python_version >= "3.9" and python_version < "3.12"
unstructured==0.12.5 ; python_version >= "3.9" and python_version < "3.12"
urllib3==1.26.18 ; python_version >= "3.9" and python_version < "3.12"
uvicorn==0.23.2 ; python_version >= "3.9" and python_version < "3.12"
voyageai==0.1.7 ; python_version >= "3.9" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.9" and python_version < "3.12"
zipp==3.18.1 ; python_version >= "3.9" and python_version < "3.12"
